* {
  margin: 0;
  padding: 0;
  font-size: 13px;
  font-family: "微软雅黑", arial;
  list-style: none;
}
a {
  text-decoration: none;
  color: #fff;
}
input {
  box-sizing: inherit;
}
.body {
  width: 100%;
  height: 900px;
  background: rgba(0, 0, 0, 0.8);
}
.login_content {
  width: 300px;
  margin: 0 auto;
  padding-top: 10%;
}
.login_content .reg li {
  margin-top: 10px;
}
.login_content .reg li span {
  color: #fff;
  display: block;
  width: 80px;
  text-align: right;
  float: left;
  margin-right: 5px;
}
.login_content .reg li input {
  float: right;
}
.login_content .reg li .user,
.login_content .reg li .psd {
  width: 200px;
}
.login_content .reg li .submit {
  width: 50px;
  line-height: 25px;
  margin: 0 5px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.6);
  box-sizing: inherit;
  border: none;
  color: #fff;
  float: right;
}
.login_content .reg li:after {
  display: block;
  clear: both;
  content: "";
}
